img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
h2 {
  font-size: 36px;
  color: white;
  background-color: rgb(225, 223, 70);
  text-align: center;
}
p {
  font-size: 24px;
  text-align: center;
}
.description {
  font-size: 20px;
  color: black;
}
.description h3 {
  font-size: 24px;
}
.steps {
  font-size: 20px;
  color: black;
}
.steps h3 {
  font-size: 24px;
}
a {
  font-size: 24px;
}
